
.post-card {
    background-color: #FAB137;
    width: 995px;
    height: 323px;
    margin-top: 3em;
    border-radius: 30px;
    border: 2px solid #C08F18;
    filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, 0.25));
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    color: white;
    height: 2.4vh;
}

.post-content{
    padding: 1.5em;
    margin-top: 1em;
    width: 100%;
    background-color: white;
    height: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-button{
    padding: 0.5em 1.5em 0.5em 1.5em;
    float: right;
    display: flex;
    width: 9vw;
    height: 5vh;
    background-color: #FAB137;
    border-radius: 12px;
    justify-content: center;
    color: white;
    align-items: center;
}


.post-button:hover {
    transform: scale(1.05);
    transition: 0.4s;
    background-color: #C08F18;
}

.posts-list{
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-error{
    color: red;
}

.add-great{
    color: green;
}


/* ADD POST */

.form-add-post{
    padding: 0.5em;
    padding-bottom: 1em;
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    /* Rectangle 21 */
    
        box-sizing: border-box;
        border: 3px solid #D5D5D5;
        box-shadow: 0px 2px 5.7px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
}

.add-post-content{
    border-top: 2px solid gray;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.submit-post{
    height: 5vh;
    width: 10vw;
    border-radius: 15px;
    color: white;   
    border: 2px solid #B28310;
    background-color: #FAB137;
}

.submit-post:hover{
    transform: scale(1.05);
    transition: 0.4s;
    cursor: pointer;
    background-color: #B28310;
    border: 2px solid #FAB137;
}

.add-content{
    width: 100%;
    height: 12vh;
    border: 0;
    padding: 1em;
    color: #5d5d5d;
    outline: none;
}


.add-title{
    border: 0;
    width: 100%;
    height: 5vh;
    padding: 1em;
    color: #555555;
    outline: none;
}

/* Header */
header .header{
    width: 100%;
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    width: 100%;
    background-color: #FFF154;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .links{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav .links a:hover{
    transform: scale(1.10);
    transition: 0.4s;
}


